h3{
    text-align: center;
    padding: 25px;
    color: #2f23d4;
}
body{
    margin: 25px;
    padding: 25px;
}
.col-md-9{
    background-color: rgb(160, 160, 235);
}


@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

main {
  display: flex;

  justify-content: left;
  align-items: left;
  text-align: left;
}

/* Sugestão de Melhoria: Substituir o uso de 'start' por 'left' para consistência com o justify-content */

ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}
    a {
      --fill-color: #198CE6;
      position: relative;
      display: block;
      padding: 4px 0;
      font: 700 3rem Raleway, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-text-stroke: 2px var(--fill-color);
      background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
      color: transparent;
      background-clip: text;
      transition: 0.5s linear;
    }
      &:hover {
        background-size: 100%;
      }
   